.page-body {
  font-family: "Roboto";
}
.page-header {
  padding-top: 63px;
}
.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  color: #000;
}
.accent-color {
  color: #4bcaff;
}
.menu {
  display: flex;
  background-color: #35444f;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.menu-list {
  list-style-type: none;
  border-right: 1px solid #fff;
}
.menu-list :first-child {
  border-left: 1px solid #fff;
}
.menu-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  padding: 24px 40px 18px;
  display: block;
}
.menu-link:hover {
  background: #222f3a;
}

.page-main {
  margin-top: 48px;
}
.wrapper-main {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.sidebar-menu {
  border: 1px solid #495863;
  display: flex;
  flex-direction: column;
  width: 345px;
  padding: 0;
  margin: 0;
}
.sidebar-list {
  list-style: none;
}
.sidebar-link {
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
  display: block;
  padding: 25px 0 25px 44px;
}
.sidebar-link:hover {
  background: #dbdbdb;
  color: #000;
  padding-left: 65px;
}
.mainpage {
  width: 885px;
  display: flex;
  flex-direction: column;
}
.wrapper-img {
  border: 1px solid #495863;
  display: flex;
  justify-content: center;
  vertical-align: center;
  padding: 75px 0;
}
.main-img:hover {
  transform: scale(1.2);
  transition: 1s;
}
.main-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-top: 40px;
  margin-bottom: 0px;
}

.page-footer {
  padding-bottom: 30px;
}
.wrapper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  background-color: #dbdbdb;
}
.footer-menu {
  display: flex;
  margin: 0;
  align-items: center;
}
.footer-menu-list {
  list-style: none;
  margin-right: 30px;
}
.footer-menu-link {
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  display: block;
  color: #000;
  padding: 20px 0;
  border-bottom: 1px solid transparent;
}
.footer-menu-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
  line-height: 13px;
}
.footer-text {
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  margin: 0;
  color: #000;
  margin-right: 40px;
}
